.navbar {
  align-items: start !important;
}

.navbar .navbar-brand-wrapper {
  height: 55px !important;
}

.spasi {
  padding: -40vh 9vh !important;
}

.content-wrapper {
  padding: 0.375rem 2.375rem !important;
}
